*{
    margin:0;
    box-sizing:conten;
    padding:0;
  }

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.sfondo-nero{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  background-color: black;
  opacity: 40%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}
.link-github{
  color:#084F9F;
}
  @media(min-width:759px){
    .nav-bar{
      height:48px;
      width:100%;
      background-color: #151516;
      color:white;
      font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
      position:fixed;
      z-index: 2;
    }
    .logo{
      line-height: 48px;
      position: absolute;
      left:20px;
      font-size: 25px;
    }
  
    .nav-content{
      width:50vw; 
      display: flex;
      justify-content: center;
      line-height: 48px;
      font-size:12px;
    }
    a{
      width:25%;
      text-align: center;
    }
    a:visited{
      color:white;  
    }
    a:link{
      opacity: 1;
      color:white;
      text-decoration: none;
    }
    .barra{
      display: flex;
      justify-content: center;
    }

    

    .menu{
      opacity: 0;
      position: absolute;    
    }
    .close{
      opacity: 0;
      position: absolute;
    }
    .sezione-1{
        background-color: black;
        width:100%;
        height:200%;
    }
    .main-paragraph{
      position: absolute;
      top:120px;
      left:170px;
      margin-right: 170px;
    }
    .testo{
      font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: white;
      font-weight: 150;
      font-size: 25px;
      text-align: center;
      line-height: 30px;
    }
    .autore{
      text-align: start;
      font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: white;
      font-weight: 400;
      font-size: 25px;
      line-height: 30px;
    }
    .autori-title{
      font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: white;
      font-weight: 600;
      font-size: 50px;
      text-align: start;
      line-height: 40px;
    }
    .spazio.uno{
      height:50px;
    }
    .spazio.due{
      height:15px;
    }
    

  }
  